* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
} 

body {
    background-color: bisque;
}

/*header and navigation bar*/
header {
    padding: 20px;
    background-color: rgb(22, 100, 94);
    color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 42px;
}

header div {
    padding-top: 15px;
    margin-right:20px;
    font-size: 28px;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    text-decoration: none;
    color: lightgoldenrodyellow;
}


/*hero section*/
.hero {
    height: 400px;
    margin-bottom: 25px;
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-position: relative;
}

.hero h2 {
    color: lightgoldenrodyellow;
    background-color: rgb(6, 67, 102, 0.8);
    font-size: 36px;
    float: right;
    padding: 20px;
    margin-top: 300px;
    margin-right: 20px;
}


/*sections*/
.content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.section-title {
    display: flex;
    flex-wrap: wrap;
    color: rgb(35, 83, 105);
    font-size: 40px;
    text-align: right;
    padding-right: 20px;
    border-right: solid 7px rgb(29, 40, 71);
}


/*About Me section*/
.about {
    display: flex;
    margin-bottom: 50px;
    margin-left: 130px;
}

.paragraph {
    display: flex;
    flex-wrap: wrap;
    color: rgb(22, 100, 94);
    font-size: 16px;
    margin-left: 20px;
    width: 75%
}


/*My Works section*/
.works {
    display: flex;
    margin-bottom: 50px;
    margin-left: 122px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.work h3 {
    display: flex;
    color: lightgoldenrodyellow;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(63, 129, 155);
}

.img {
    display: flex;
    width: 100%;
}

.work img {
    float: right;
    width: 100%;
    min-width: 50%;
    height: auto;
    margin: 0 0 10px 20px;
    border: solid 12px rgb(63, 129, 155);
}

.other-works {
    display: flex;
    flex-wrap: wrap;
}

.other-works article{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.primary {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.primary .caption {
    top: 70%;
    left: 3%;
}

.primary h3 {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 12px;
}

.primary img {
    width: 100%;
    height: auto;
}

article {
    position: relative;
    display: flex;
}


.caption {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 60%;
    left: 6%;
}


/*Contact Me section*/
.mycontacts {
    display: flex;
    margin-left: 81px;
    margin-bottom: 50px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contact {
    font-size: 26px;
    border-bottom: solid 6px rgb(63, 129, 155);
    margin-left: 40px;
}
