* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
} 

body {
    background-color: bisque;
}

/*header and navigation bar*/
header {
    padding: 20px;
    background-color: rgb(22, 100, 94);
    color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 42px;
}

header div {
    padding-top: 15px;
    margin-right:20px;
    font-size: 28px;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    text-decoration: none;
    color: lightgoldenrodyellow;
}


/*hero section*/
.hero {
    height: 400px;
    margin-bottom: 25px;
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-position: relative;
}

.hero h2 {
    color: lightgoldenrodyellow;
    background-color: rgb(6, 67, 102, 0.8);
    font-size: 36px;
    float: right;
    padding: 20px;
    margin-top: 300px;
    margin-right: 20px;
}


/*sections*/
.content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-left: 130px;
}

.section-title {
    color: rgb(35, 83, 105);
    font-size: 40px;
    text-align: right;
    padding-right: 20px;
    width: 250px;
    border-right: solid 7px rgb(29, 40, 71);
}


/*About Me section*/
.about {
    display: flex;
    margin-bottom: 30px;
}

.paragraph {
    display: flex;
    flex-wrap: wrap;
    color: rgb(22, 100, 94);
    font-size: 16px;
    margin-left: 20px;
    width: 65%
}


/*My Works section*/
.works {
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.work h3 {
    color: lightgoldenrodyellow;
    font-size: 22px;
    padding: 10px;
    background-color: rgb(63, 129, 155);
}

.work img {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 195px;
    margin: 0 0 10px 20px;
    border: solid 10px rgb(63, 129, 155);
}

.primary img {
    width: 100%;
    max-width: 1800px;
    height: 100%;
    max-height: 700px;
    margin-left: 20px;
}

.primary h3 {
    font-size: 28px;
    position: absolute;
    margin-top: 28%;
    margin-left: 0%;
}

#second h3 {
    position: absolute;
    margin-top: 45%;
    margin-left: 1.5%;
}

#third h3 {
    position: absolute;
    margin-top: 45%;
    margin-left: 29%;
}

#fourth h3 {
    position: absolute;
    margin-top: 58.5%;
    margin-left: 1.5%;
}

#fifth h3 {
    position: absolute;
    margin-top: 58.5%;
    margin-left: 29%;
}



/*Contact Me section*/
.mycontacts {
    display: flex;
    flex-wrap: wrap;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contact {
    font-size: 26px;
    border-bottom: solid 6px rgb(63, 129, 155);
    margin-left: 100px;
}
