* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
} 

body {
    background-color: bisque;
}

/*header and navigation bar*/
header {
    padding: 20px;
    background-color: rgb(22, 100, 94);
    color: lightgoldenrodyellow;
}

header h1 {
    font-size: 42px;
    display: inline-block;
}

header div {
    padding-top: 15px;
    margin-right:20px;
    float: right;
    font-size: 28px;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    text-decoration: none;
    color: lightgoldenrodyellow;
}

/*hero section*/
.hero {
    height: 400px;
    margin-bottom: 25px;
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-position: relative;
}

.hero h2 {
    color: lightgoldenrodyellow;
    background-color: rgb(6, 67, 102, 0.8);
    font-size: 36px;
    float: right;
    padding: 20px;
    margin-top: 300px;
    margin-right: 20px;
}

.section-title {
    color: rgb(35, 83, 105);
    font-size: 46px;
    display: inline-block;
    width: 300px;
    margin: 0 0 30px 100px;
    padding-right: 20px;
    text-align: right;
    border-right-style: solid;
    border-right-width: 7px;
    border-right-color: rgb(29, 40, 71);
}


/*About Me section*/
.about .section-title {
    padding-bottom: 50px;
}

.paragraph {
    color: rgb(22, 100, 94);
    font-size: 14px;
    display: inline-block;
    width: 60%;
    padding: 20px 0 0 35px;
}